# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Kaggle
.kaggle/

# Large Models
*.pth
*.pt
*.ckpt

# Pickle Cache
*.pkl

# OS
Thumbs.db
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Temporary
temp/next